project: 
  fullPath: "/CxServer/test"
  origin: "Jenkins"
sast: 
  configuration: "Default Configuration"
  excludeFolders: "nothing"
  includeExcludePattern: "something"
  high: 300
  medium: 65
  low: 500
  incremental: true
  preset: "Checkmarx Default"
  privateScan: false
sca:
  fileInclude: "dll" 
  fileExclude: "nothing.jar" 
  pathExclude: "test"
  high: 3
  medium: 3
  low: 3